{% extends "base.html" %}
{% block title %}Your Profile{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-16">

  {% if messages %}
    <div class="mb-6">
      {% for msg in messages %}
        <div class="p-4 rounded {% if msg.tags == 'success' %}bg-green-100 text-green-800{% else %}bg-red-100 text-red-800{% endif %}">
          {{ msg }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="bg-white shadow-xl rounded-2xl px-8 py-10">
    <h1 class="text-3xl font-semibold text-gray-800 text-center mb-8">Your Profile</h1>

    <div class="flex mb-6">
      {% if user.profile_image %}
        <img src="{{ user.profile_image.url }}" alt="" class="w-24 h-24 rounded-full object-cover mr-4">
      {% else %}
        <div class="w-24 h-24 bg-gray-200 rounded-full mr-4 flex items-center justify-center text-gray-500">
          No Image
        </div>
      {% endif %}
      <div class="flex flex-col gap-4">
        <p class="text-lg font-medium text-gray-700">Name: {{ user.name }}</p>
        <p class="text-md text-gray-600">Phone: {{ user.phone }}</p>
        <p class="text-md text-gray-600">Email: {{ user.email }}</p>
        <p class="text-md text-gray-600">User Type: {{ request.user.user_type }}</p>
      </div>
    </div>
    <h1 class="font-semibold">Logo:</h1>
    {% if user.seller_profile.logo %}
      <img src="{{ user.seller_profile.logo.url }}"
          class="w-24 h-24 object-contain mr-4" alt="logo">
    {% endif %}

    <div class="flex flex-col gap-3 mt-12 items-start">
        <a href="{% url 'users:profile_edit' %}"
           class="inline-block text-center px-2 py-1 text-sm bg-indigo-600 hover:bg-indigo-700 text-white rounded-md">
            Edit Profile
        </a>
        <a href="{% url 'users:password_change' %}"
           class="inline-block text-center px-2 py-1 text-sm bg-gray-600 hover:bg-gray-700 text-white rounded-md">
            Change Password
        </a>
    </div>
    <div class="flex flex-col gap-3 mt-6 items-start">
        <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="px-2 py-1 text-sm bg-red-600 hover:bg-red-700 text-white rounded-md">
                Logout
            </button>
        </form>
        {% comment %} <a href="{% url 'users:delete_account' %}"
           class="inline-block text-center px-2 py-1 text-sm bg-red-800 hover:bg-red-900 text-white rounded-md">
            Delete Account
        </a> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
